In [11]:
import pandas as pd
import numpy as np

In [3]:
def NSS(m,vi):
    b0, b1, b2 ,b3 , tau1, tau2 = vi
    r = b0 + b1*((1-np.exp(-m/tau1))/(m/tau1)) +b2*((1-np.exp(-m/tau1))/(m/tau1)- np.exp(-m/tau1)) + b3*((1-np.exp(-m/tau2))/(m/tau2) - np.exp(-m/tau2))
    return r

In [4]:
def mm_NSS(x):
    vi = x.iloc[0:6]
    x['m1'] = NSS(1/12,vi)
    x['m3'] = NSS(1/4,vi)
    x['m6'] = NSS(1/2,vi)
    x['y1'] = NSS(1,vi)
    x['y2'] = NSS(2,vi)
    x['y5'] = NSS(5,vi)
    x['y10'] = NSS(10,vi)
    x['y15'] = NSS(15,vi)
    x['y20'] = NSS(20,vi)
    return x

In [19]:
import  os 
p = "E:/Paper/bond/data/local/price/"
files = [p+f for f in os.listdir(p) if str.find(f,"_全_")>=0 ]

In [21]:
[f.split("_")[-3] for f in files]

['上海',
 '云南',
 '内蒙古',
 '北京',
 '吉林',
 '四川',
 '天津',
 '宁夏',
 '安徽',
 '山东',
 '山西',
 '广东',
 '广西',
 '新疆',
 '江苏',
 '江西',
 '河北',
 '河南',
 '浙江',
 '海南',
 '湖北',
 '湖南',
 '甘肃',
 '福建',
 '西藏',
 '贵州',
 '辽宁',
 '重庆',
 '陕西',
 '青海',
 '黑龙江']

In [12]:
dfa = pd.DataFrame()
for f in ['Shanghai.csv']:
    df = pd.read_csv(f,header=None)
    df.columns = ['b0','b1','b2','b3','tau1','tau2','loss','Date']
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')
    df = df.apply(lambda x: mm_NSS(x),axis=1)
    df['province'] = f.split("_")[-3].replace("人民政府IB",'')
    dfa = dfa.append(df)

IndexError: list index out of range

In [16]:
df = df.reset_index()[['Date','y1','y10']]

In [17]:
df['Month'] = pd.to_datetime(df['Date'].dt.year.astype(str)+"-"+df['Date'].dt.month.astype(str)+"-01")

In [18]:
df.groupby('Month').mean()

                  y1       y10
Month
2015-09-01  0.025513  0.035610
2015-10-01  0.027307  0.034786
2015-11-01  0.033713  0.032874
2015-12-01  0.034478  0.033936
2016-01-01  0.031657  0.033768
...              ...       ...
2022-08-01  0.022614  0.031085
2022-09-01  0.022268  0.030281
2022-10-01  0.020929  0.029592
2022-11-01  0.021272  0.029990
2022-12-01  0.022773  0.030169

[88 rows x 2 columns]